body {
    background-color: black;
    
    
}

.microWave{
    position: relative;
    margin: 10% auto;
    background-color: maroon;
    width: 1200px;
    height:600px;
    border-top: 20px solid #333333;
    border-bottom: 20px solid #333333;
    border-radius: 2%;
    display: flex;
    justify-content: right;
}
.door {
    
    background: radial-gradient(circle, rgba(255,252,248,1) 0%, rgba(252,176,69,1) 100%);
    position: absolute;
    height: 70.5%;
    width: 600px;
    margin-right: 36.5%;
    margin-top:2.5%;
    border-radius: 2.5%;
    border: 60px solid black;
    
}

.doorOff{
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(94,94,94,1) 100%);
}




.panel{
    position: relative ;
    background-color: #333333;
    width:30%;
    height: 90%;
    margin-top: 2.5%;
    margin-right: 2.5%;
    border-radius: 2.5%;
    border: 2px solid grey;
    
    
}

.displayScreen{
    position: relative;
    background-color: black;
    width:90%;
    height:120px;
    margin-left: 5%;
    margin-top: 5%;
    justify-content: center;
    display:flex;
    border-radius: 25%;
    border: 2px solid grey;
    
}

.displayNum {
    color: aquamarine;
    font-size: 6em;
    text-shadow: 0px 6px 8px darkcyan;
    
}

.controls {
    padding-top:20px;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    grid-gap:10px;
    font-family: Arial, Helvetica, sans-serif;

}

.number {
    display:block;
    border: 2px solid grey;
    border-radius: 25%;
    font-size: 3em;
    text-align: center;
    color:grey;
    cursor: pointer;
}

.number0{
    background-color: black;
}

.stopClear{
    
    border: 2px solid grey;
    border-radius: 25%;
    font-size: 1.6em;
    text-align: center;
    color:grey;
    background-color: black;
    cursor: pointer;
}

.startAdd30Sec{
   
    border: 2px solid grey;
    border-radius: 25%;
    font-size: 1.6em;
    text-align: center;
    color:grey;
    background-color: black;
    cursor: pointer;
}

